<html>
  <body>
    <form class="form" action="{% url 'search' %}" method="POST">
      {% csrf_token %}

      <input type="text" name="input" id="input" style="height: 40px" />

      <button
        type="submit"
        style="height: 40px; width: 110px; margin-left: 40px"
      >
        Filter post
      </button>
    </form>
    <h1>Posts</h1>
    <ul>
      {% for post in posts %}
      <li>{{ post.title }}</li>
      <p>{{post.id}}</p>
      <p>{{post.body}}</p>
      
      {% endfor %}

      <h1>post</h1>
      <li>{{ post.title }}</li>
      <p>{{post.id}}</p>
      <p>{{post.body}}</p>
    </ul>
  </body>
</html>
